/* Adjust the skill cards container to use Flexbox */
.skills-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
  }
  
  /* Adjust the skill cards */
  .skills-list .card {
    width: 100px; 
    margin: 5px; 
    padding: 10px;
  }
  
  /* Make the icons fit the full size of the buttons */
  .skills-list .card-body i {
    font-size: 3em; 
    display: block;
    text-align: center;
    margin-bottom: 5px; 
  }